.DS_Store

./plugins/**

target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/
.idea/*
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

### PLUGINS ###
plugins/confluent*
plugins/mongodb*

