.DS_Store

./plugins/**

target
./target/** 
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/
.idea/*
*.iws
*.iml
*.ipr

### VS Code ###
.vscode
.vscode/**

### PLUGINS ###
plugins/confluent*

